h1, h2 {
    padding-left: 15%;
    color: black;
    font: Myriad Pro;
    display: block;
}

h2 {
    color: #f57300;
}

#head {
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    margin: auto;
}

img {
    float: right;
    padding: 5px;
    width: 32%;
}