<div class="wrapper">
  <section class="header-container">
    <header class="title">
      <h1>Kemppi Hackaton 2019</h1>
    </header>
    <div class="logo">
      <!-- <a href="http://kemppi.fi"> -->

      <a href="http://kemppi.fi"
        ><img
          src="../../assets/Kemppi_logo_CMYK.jpg"
          alt="Kemppi_logo"
          class="brand-logo"
      /></a>
    </div>
  </section>
    <section class="navibar">
      <div class="bar">
        <ul class="adresslist">
          <li><a class="home" href="#" [routerLink]="'/'">Home</a></li>
          <!--<li>Charts</li>-->
          <li><a class="live" href="#" [routerLink]="'/charts/live'">Live Feed</a></li>
          <li><a class="history" href="#" [routerLink]="'/charts/history'">History</a></li>
        </ul>
      </div>
  </section>
</div>
