:host {
  /* background-color: var(--grey-bg); */
  text-align: center;
  font-size: 0.8rem;
  padding: 2rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--dark-text);
  color: var(--discreet-text);
  border-top: 1px solid var(--grey-line-break);
}
