<div class="wrapper">
  <div class="info-text">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, unde.
    </p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div style="display: block;">
        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="col-md-6" style="margin-bottom: 10px">
      <button mat-button (click)="randomize()">CLICK</button>
    </div>
  </div>
</div>