:root {
  --black: #000000;
  --white: #ffffff;
  --orange: #f57300;
  --dark-text: #414141;
  --grey-bg: #ededed;
  --grey-line-break: #cccccc;
  --headline-font: sans-serif;
  --main-font: sans-serif;
}

body {
  background-color: var(--grey-bg);
  font-family: var(--main-font);
  color: var(--dark-text);
}
