<div class="wrapper">
  <!-- Top container -->
  <section class="top-container">
    <header class="showcase">
      <h1>Ioota Group</h1>
      <h2>Omikron Safety</h2>
    </header>
    <div class="top-info">
      <p>
        This is what our product does. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Ratione, nam sint. Ullam eos eligendi molestias
        quibusdam sunt perspiciatis pariatur sequi autem nihil non. Consectetur
        repudiandae placeat, ipsa facere laboriosam vel! Lorem, ipsum dolor.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae
        quibusdam libero dicta illo rerum, vero odit laborum dolore aliquam cum
        atque consequuntur officia modi? Et ea itaque asperiores exercitationem,
        modi reiciendis illo dolore minima quibusdam dicta quam expedita
        accusamus iure!
      </p>
      <a href="#" class="btn" [routerLink]="'/charts/live'"
        >Launch application
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </a>
    </div>
  </section>

  <!-- Boxes container -->
  <section class="boxes">
    <div class="box">
      <fa-icon [icon]="faCoffee"></fa-icon>
      <p>
        This is ONE of the features of our product and the ICON above this
        paragraph describes THIS sentence. Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Vel, recusandae tempora. Nemo dolorum,
        laborum ullam odio nesciunt tenetur sint id reprehenderit beatae
        repellat corrupti maiores pariatur amet dicta voluptatibus inventore.
      </p>
    </div>
    <div class="box">
      <fa-icon [icon]="faAd"></fa-icon>

      <p>
        This is ONE of the features of our product and the ICON above this
        paragraph describes THIS sentence. Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Vel, recusandae tempora. Nemo dolorum,
        laborum ullam odio nesciunt tenetur sint id reprehenderit beatae
        repellat corrupti maiores pariatur amet dicta voluptatibus inventore.
      </p>
    </div>
    <div class="box">
      <fa-icon [icon]="faAddressBook"></fa-icon>

      <p>
        This is ONE of the features of our product and the ICON above this
        paragraph describes THIS sentence. Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Vel, recusandae tempora. Nemo dolorum,
        laborum ullam odio nesciunt tenetur sint id reprehenderit beatae
        repellat corrupti maiores pariatur amet dicta voluptatibus inventore.
      </p>
    </div>
    <div class="box">
      <fa-icon [icon]="faAirFreshener"></fa-icon>

      <p>
        This is ONE of the features of our product and the ICON above this
        paragraph describes THIS sentence. Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Vel, recusandae tempora. Nemo dolorum,
        laborum ullam odio nesciunt tenetur sint id reprehenderit beatae
        repellat corrupti maiores pariatur amet dicta voluptatibus inventore.
      </p>
    </div>
  </section>
</div>
<!-- Wrapper ends -->
