<!-- Info section -->
<div class="wrapper">
  <section class="info">
    <img src="https://source.unsplash.com/random/1000x600" alt="" />
    <div>
      <h2>IootaGroup</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia natus
        itaque eaque unde voluptas exercitationem officiis quisquam voluptatum,
        sunt blanditiis eius aliquid officia labore quod non possimus illum
        corrupti, repudiandae veritatis dolor eum reiciendis! Ab rerum mollitia
        facilis laborum aspernatur porro distinctio autem. Nostrum ad error,
        quod aspernatur quas incidunt blanditiis architecto voluptate culpa
        repellendus facere! Voluptate ex aperiam labore quia, id enim magni
        incidunt odit impedit praesentium obcaecati quidem voluptas laboriosam
        molestias eius natus reprehenderit nostrum hic libero, fuga minus, nulla
        nesciunt illo! Officiis minus, quibusdam nulla aliquam voluptatum illo!
        Repellat, consequuntur quis eum commodi minus nulla ab atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia natus
        itaque eaque unde voluptas exercitationem officiis quisquam voluptatum,
        sunt blanditiis eius aliquid officia labore quod non possimus illum
        corrupti, repudiandae veritatis dolor eum reiciendis! Ab rerum mollitia
        facilis laborum aspernatur porro distinctio autem. Nostrum ad error,
        quod aspernatur quas incidunt blanditiis architecto voluptate culpa
        repellendus facere! Voluptate ex aperiam labore quia, id enim magni
        incidunt odit impedit praesentium obcaecati quidem voluptas laboriosam
        molestias eius natus reprehenderit nostrum hic libero, fuga minus, nulla
        nesciunt illo! Officiis minus, quibusdam nulla aliquam voluptatum illo!
        Repellat, consequuntur quis eum commodi minus nulla ab atque.
      </p>
      <a href="#" class="btn">Use the application</a>
    </div>
  </section>

  <!-- Boxes section -->
  <section class="boxes">
    <div class="box">
      <h3>ICON</h3>
      <p>Info about what we can do with the product, relevant to the icon</p>
    </div>
    <div class="box">
      <h3>ICON</h3>
      <p>Info about what we can do with the product, relevant to the icon</p>
    </div>
    <div class="box">
      <h3>ICON</h3>
      <p>Info about what we can do with the product, relevant to the icon</p>
    </div>
  </section>
</div>
<!-- Wrapper ends -->
